[submodule "Client/Project/Assets/3rd/HQMVVM"]
	path = Client/Project/Assets/3rd/HQMVVM
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQMVVM.git
[submodule "Client/Project/Assets/3rd/HQCommon"]
	path = Client/Project/Assets/3rd/HQCommon
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQCommon.git
[submodule "Client/Project/Assets/3rd/HQMVVMTween"]
	path = Client/Project/Assets/3rd/HQMVVMTween
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQMVVMTween.git
[submodule "Client/Project/Assets/3rd/HQAds"]
	path = Client/Project/Assets/3rd/HQAds
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQAds.git
[submodule "Client/Project/Assets/3rd/HQGlobalSettings"]
	path = Client/Project/Assets/3rd/HQGlobalSettings
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQGlobalSettings.git
[submodule "Client/Project/Assets/3rd/HQRc"]
	path = Client/Project/Assets/3rd/HQRc
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQRc.git
[submodule "Client/Project/Assets/3rd/HQBuild"]
	path = Client/Project/Assets/3rd/HQBuild
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQBuild.git
[submodule "Client/Project/Assets/3rd/HQBaseFramework"]
	path = Client/Project/Assets/3rd/HQBaseFramework
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQBaseFramework.git
[submodule "Client/Project/Assets/3rd/HQLogger"]
	path = Client/Project/Assets/3rd/HQLogger
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQLogger.git
[submodule "Client/Project/Assets/3rd/HQDebugging"]
	path = Client/Project/Assets/3rd/HQDebugging
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQDebugging.git
[submodule "Client/Project/Assets/3rd/HQIap"]
	path = Client/Project/Assets/3rd/HQIap
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQIap.git
[submodule "Client/Project/Assets/3rd/HQIdfa"]
	path = Client/Project/Assets/3rd/HQIdfa
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQIdfa.git
[submodule "Client/Project/Assets/3rd/PackageManager"]
	path = Client/Project/Assets/3rd/PackageManager
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQPackageManager.git
