[submodule "Client/Project/Assets/3rd/HQMVVM"]
	path = Client/Project/Assets/3rd/HQMVVM
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQMVVM.git
[submodule "Client/Project/Assets/3rd/HQCommon"]
	path = Client/Project/Assets/3rd/HQCommon
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQCommon.git
[submodule "Client/Project/Assets/3rd/HQMVVMTween"]
	path = Client/Project/Assets/3rd/HQMVVMTween
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQMVVMTween.git
[submodule "Client/Project/Assets/3rd/HQAds"]
	path = Client/Project/Assets/3rd/HQAds
	url = git@codeup.aliyun.com:joyinngames/Framework2/HQAds.git
