Client/Project/obj/
Client/Project/Library/
Client/Project/Logs/
Client/Project/.vs/
*.sln
*.csproj
*.vsconfig
Client/Tools/Build/__pycache__/
Client/Project/Temp/
Client/Project/Assets/StreamingAssets/
Client/Project/Bundles/
Client/Project/Assets/StreamingAssets.meta
Client/Project/UserSettings/
